* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  display: flex;
  padding: 10px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resume > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.newItem {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc, .divType, .divAmount {
  display: flex;
  flex-direction: column;
}

.newItem > button {
  background-color: #2C73D2;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
}

input, select {
  padding: 5px;
}

.divTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-chevron-up-circle {
  color: #00C9A7;
}

.bxs-chevron-down-circle {
  color: #D83121;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction > button {
  background: transparent;
  border: none;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}

  #map {
    height: 50%;
    width: 50%;
    left: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  html,
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  a{
    color: inherit;
  }
  
  /* Utility Classes */
  .tag-item {
    background: 0 0;
    border: 1px solid rgba(255,255,255,.6);
    color: white;
    border-radius: 10px;
    padding: 12px 40px 12px;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.1;
    margin-right: 9px;
    margin-top: 40px;
    transition: all 300ms ease;
    background-color: #30d5c8;
  }
  
  .tag-item:hover {
    background-color: #1f968c;
    cursor: pointer;
    color: white;
  }
  
  .logo {
    height: 60px;
    width: auto;
    margin-right: 10px;
  }
  
  /* Navbar */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background: #003F5C;
    position: sticky; 
    top: 0;
    padding: 30px;
  }
  
  .nav-login {
    background-color: #30d5c8;
  }
  
  .nav-login a:hover {
    background-color: #124eb6;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav .nav-links  a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav-links a:hover {
    background-color: #203d70c0;
  }
  
  .nav #nav-check {
    display: none;
  }
  
  @media (max-width:800px) {
    .nav .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav .nav-links a {
      display: block;
      width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
      height: 100vh;
      overflow-y: auto;
    }
  }

  
/* Showcase */
/*alterar Showcase para que ele não se estenda por debaixo do navbar*/
.showcase {
    height: 94vh;
    padding: 200px;
    display: flex;
    background: url('/images/image\ 3.png') center center/cover;
    background-blend-mode: color;
    text-align: center;
  }
  
  .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.8rem;
    width: 60%;
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .showcase-container h2 {
    font-size: 3.5rem ;
    color:#FFC107;
    width: 80%;
    font-weight: 100;
  }
  
  .tags-container {
    display: flex;
    align-content: space-between;
  }

/* Showcase 2 */
  .showcase2 {
    height: 70vh;
 
    display: flex;
    background: url('/images/image\ 18.png') center center/cover;
    background-blend-mode: color;
  }

  .showcase-container2 p {
    font-size: 1.8rem;
  }
  
  .showcase-container2 {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .showcase-container2 h2 {
    font-size: 3.5rem ;
    color:#FFC107;
    font-weight: 100;
  }

  
/* Showcase 3 */
.showcase3 {
    height: 70vh;
    display: flex;
    background: url('/images/image\ 18.png') center center/cover;
    background-blend-mode: color;
  }

  .showcase-container3 p {
    font-size: 1.8rem;
  }
  
  .showcase-container3 {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .showcase-container3 h2 {
    font-size: 3.5rem ;
    color:#FFC107;
    font-weight: 100;
  }